<%- include('./partials/header') %>
<div class="card mb-4" >
    <div class="card-body">
        <div >
            <h1 class="card-title">Welcome to Clukers</h1>
        </div>
        
      ​<picture>
        <source srcset="https://images.unsplash.com/photo-1506357997910-c76d3e4d3ecf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" type="image/svg+xml">
        <img src="https://images.unsplash.com/photo-1506357997910-c76d3e4d3ecf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="img-fluid" alt="Responsive image">
      </picture>
    </div>
  </div>


<%- include('./partials/footer') %>